*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.nav{
    height: 75px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
button:hover{
    background-color: orange;
    color: black;
}
a{
    color: white;
    font-size:20px ;
    font-weight: bold;
    text-decoration: none;

}
a:hover{
    color: red;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 520px;
    background-color: #DDDDDD ;
}
button{
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 8%;
    font-weight: bold;
    padding: 10px;
    width: 120px;
    font-size: 20px;
    border: none;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}
.category img{
    height:250px ;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 20px black;

}
.offers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    background-color:orange;
}
.offer{
    color: blue;
}
.customer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.review{
    height: 250px;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f5;
}
.subscribe{
    background-color: #dbdbdb;
    height: 100px;
    text-align: center;
    padding: 120px;
    margin-top: 100px;
}
input{
    height: 25px;
    width: 250px;
    border-radius: 8px;
    border: none;
    padding: 5px;
    margin-right: 10px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 220px;
    flex-direction: row;
    padding: 30px;
    font-size: 15px;
    margin-top: 30px;
}